<div class="container">
  <div class="product-card">
    <div class="product-card__img-collapse">
      <div class="img-collapse">
        <div class="img-collapse__side">
          <button (click)="select()" class="img-collapse__button">
            <img src="{{img}}" class="img-collapse__min-img" alt="">
          </button>
          <button (click)="select2()" class="img-collapse__button">
            <img src="{{img2}}" class="img-collapse__min-img" alt="">
          </button>
          <button (click)="select3()" class="img-collapse__button">
            <img src="{{img3}}" class="img-collapse__min-img" alt="">
          </button>
          <button (click)="select4()" class="img-collapse__button">
            <img src="{{img4}}" class="img-collapse__min-img" alt="">
          </button>
        </div>
        <div class="img-collapse__select-img">
          <img src="{{selectImg}}" class="img-collapse__img" alt="">
        </div>
      </div>
    </div>
    <div class="card-info">
      <div class="card-info__name"> {{name}}</div>
      <div class="card-info__code"> Код товара {{id}} </div>
      <div class="card-info__availability">
        <div class="card-info__indicator"></div> В
        наличии
      </div>
      <div class="info-purchase">
        <div class="info-purchase__price">
          {{price | currency:' ':'':'0.0-0'}} ₽ </div>
        <button type="button" name="button" class="btn">Купить</button>
      </div>
    </div>
    <div class="card-description">
      <h3>Описание</h3>
      {{description}}
      <h3>{{additionalDescriptionHeadline}}</h3>
      {{additionalDescription}}
    </div>
  </div>

</div>
