body,
html {
  font-family: $main-family;
  font-size: 14px;
  color: $primary;
  min-width: 300px;
  background-color: $bg;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

hr {
  border: none;
  height: 1px;
  width: calc(100% + 30px);
  margin: 0 -15px;
  background-color: #f0f2f7;
}

a {
  color: $primary;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

a:hover {
  color: $accent;
}

h1 {
  font-size: 42px;
  font-weight: 700;

  br {
    display: none;
    @media (max-width: 360px) {
      display: block;
    }
  }
  @media (max-width: 767.98px) {
    font-size: 24px;
  }
}

h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 30px 0;
  @media (max-width: 767.98px) {
    font-size: 24px;
  }
}

h3 {
  margin: 47px 0 10px;
  color: #142558;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

h4 {
  color: #142558;
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
  @media (max-width: 767.98px) {
    font-size: 16px;
  }
}

span {
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
}

label {
  font-size: 16px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

button {
  background: none;
  border: none;
  padding: 0;
}
