.logo {
    display: flex;
    align-items: center;
    height: 58px;
    align-self: center;

    &__img {
        width: 34px;
        height: 59px;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 23.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 464.69 810.42' style='enable-background:new 0 0 464.69 810.42;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0 %7b fill-rule: evenodd; clip-rule: evenodd; fill: %23F77819;%7d .st1 %7b fill: %23B2322B;%7d .st2 %7b fill: %231b1a36;%7d .st3 %7b fill: %23F77819;%7d %3c/style%3e%3cpath class='st0' d='M341.34,118.7c-60.2-60.19-157.79-60.19-217.99,0c-60.19,60.19-60.19,157.79,0,217.98 c60.19,60.19,157.79,60.19,217.99,0C401.53,276.49,401.53,178.89,341.34,118.7z'/%3e%3cpath class='st1' d='M373.49,187.27c0.3,80.05-38.34,136.03-108.26,138.36c63.59-12.83,77.11-68.36,80.57-115.65 c-25.01,108.64-199.95,118.14-250.07,71.47c0.28,0.71,0.57,1.43,0.86,2.14l0,0c7.16,17.42,17.82,33.74,31.97,47.89 c57.32,57.32,150.26,57.32,207.58,0c6.52-6.52,12.3-13.5,17.34-20.84C386.89,283.61,393.57,242.49,373.49,187.27z'/%3e%3cpath class='st2' d='M386.69,540.61c-0.8-6.2-1.54-12.41-2.23-18.62c18.49-9.2,29.24-20.19,29.24-31.99 c0-12.87-12.79-24.77-34.47-34.45c-2.96-67.75,2.08-131.75,19.62-178.63c11.56-30.89,17.25-62.16,17.25-91.95 c0-38.36-9.39-74.49-27.81-104.51c-18.62-30.35-46.37-54.33-82.89-67.99C283.91,4.43,259.52,0,232.35,0l0,0 c-27.18,0-51.57,4.43-73.07,12.48c-36.52,13.66-64.27,37.64-82.89,67.99c-18.42,30.02-27.81,66.15-27.81,104.51 c0,29.79,5.7,61.06,17.25,91.95c17.54,46.88,22.58,110.88,19.62,178.63c-21.68,9.68-34.47,21.58-34.47,34.45 c0,11.8,10.75,22.78,29.24,31.99c-0.69,6.22-1.44,12.43-2.23,18.62C62.48,661.41,28.41,775.36,0,810.42h31.23 c18.02-31.83,36.76-86.17,51.67-149.81c9.24,5.5,21.45,10.16,36.01,13.83l0.31,0.08v135.89h26.31V679.88 c25.12,4.11,54.92,6.49,86.81,6.49c31.89,0,61.7-2.38,86.81-6.49v130.54h26.31V674.53l0.31-0.08c14.56-3.67,26.77-8.33,36.01-13.83 c14.91,63.64,33.66,117.97,51.68,149.81h31.23C436.27,775.36,402.21,661.41,386.69,540.61z M98.79,94.13 c15.63-25.48,38.94-45.62,69.63-57.1c18.49-6.91,39.81-10.73,63.92-10.73l0,0c24.11,0,45.43,3.82,63.92,10.73 c30.69,11.48,54,31.62,69.63,57.1c10.02,16.32,16.93,34.9,20.65,54.85c-8.29-16.21-19.06-30.94-31.81-43.69 c-31.32-31.32-74.59-50.7-122.39-50.7c-47.8,0-91.07,19.37-122.39,50.7c-12.75,12.75-23.52,27.48-31.81,43.69 C81.87,129.03,88.77,110.46,98.79,94.13z M85.56,227.69c0-40.53,16.43-77.23,42.99-103.79c26.56-26.56,63.26-42.99,103.79-42.99 s77.23,16.43,103.79,42.99c26.56,26.56,42.99,63.26,42.99,103.79c0,40.53-16.43,77.23-42.99,103.79 c-26.56,26.56-63.26,42.99-103.79,42.99s-77.23-16.43-103.79-42.99C101.99,304.92,85.56,268.22,85.56,227.69z M369.51,601.13 c-6.95-2.92-14.91-5.51-23.73-7.73l-0.31-0.08v-57.41c4.79-1.24,9.38-2.56,13.76-3.95c0.47,3.99,0.96,7.97,1.47,11.94 C363.17,563.2,366.14,582.36,369.51,601.13z M119.23,647.38c-18.47-5-29.64-9.81-29.64-13.46c0-3.65,11.17-8.46,29.64-13.46V647.38z M119.23,593.32l-0.31,0.08c-8.82,2.22-16.77,4.81-23.73,7.73c3.37-18.76,6.34-37.93,8.82-57.23c0.51-3.98,1-7.96,1.47-11.94 c4.38,1.39,8.97,2.71,13.76,3.95V593.32z M319.16,653.24c-24.48,4.3-54.4,6.83-86.81,6.83c-32.41,0-62.34-2.53-86.81-6.83v-38.63 c24.48-4.3,54.4-6.83,86.81-6.83c32.41,0,62.34,2.52,86.81,6.83V653.24z M319.16,587.96c-25.12-4.1-54.93-6.49-86.81-6.49 c-31.89,0-61.7,2.38-86.81,6.49v-46.38c25.78,4.56,55.36,7.15,86.81,7.15c31.45,0,61.03-2.59,86.81-7.15V587.96z M232.35,431.27 c-46.19,0-88.33,5.59-120.35,14.8c1.05-33.93,0.08-66.91-3.44-97.4c0.46,0.47,0.92,0.94,1.39,1.41 c31.32,31.32,74.59,50.69,122.39,50.69c47.8,0,91.07-19.37,122.39-50.69c0.46-0.47,0.93-0.94,1.39-1.41 c-3.52,30.49-4.49,63.47-3.43,97.4C320.67,436.87,278.53,431.27,232.35,431.27z M345.46,647.38v-26.92 c18.47,5,29.64,9.82,29.64,13.46C375.11,637.57,363.93,642.38,345.46,647.38z'/%3e%3cpath class='st1' d='M393.53,463.07c-29.56-19.78-91.01-31.79-161.18-31.79c-70.18,0-131.62,12.01-161.19,31.79 c-38.64,25.86,67.99,57.72,157.9,57.17C318.96,519.69,432.17,488.92,393.53,463.07z'/%3e%3cpath class='st3' d='M232.35,431.27c-59.9,0-113.43,8.75-146.21,23.61c18.18,44.7,274.24,44.7,292.42,0 C345.77,440.03,292.24,431.27,232.35,431.27z'/%3e%3c/svg%3e ");

}

    &__text {
        margin-left: 10px;
        font-weight: 700;
        width: 90px;
    }

    &__name {
        width: 86px;
        color: #1f1d3d;
        font-size: 13px;
        letter-spacing: 1.3px;
        text-transform: uppercase;
        border-top: 2px solid #151334;
        border-bottom: 2px solid #151334;
        text-align: center;
    }

    &__tagline {
        margin-top: 5px;
        color: #a1a8bd;
        font-size: 12px;
    }

    &--footer {
      .logo__img {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 23.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 464.69 810.42' style='enable-background:new 0 0 464.69 810.42;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0 %7b fill-rule: evenodd; clip-rule: evenodd; fill: %23F77819;%7d .st1 %7b fill: %23B2322B;%7d .st2 %7b fill: %23FFFFFF;%7d .st3 %7b fill: %23F77819;%7d %3c/style%3e%3cpath class='st0' d='M341.34,118.7c-60.2-60.19-157.79-60.19-217.99,0c-60.19,60.19-60.19,157.79,0,217.98 c60.19,60.19,157.79,60.19,217.99,0C401.53,276.49,401.53,178.89,341.34,118.7z'/%3e%3cpath class='st1' d='M373.49,187.27c0.3,80.05-38.34,136.03-108.26,138.36c63.59-12.83,77.11-68.36,80.57-115.65 c-25.01,108.64-199.95,118.14-250.07,71.47c0.28,0.71,0.57,1.43,0.86,2.14l0,0c7.16,17.42,17.82,33.74,31.97,47.89 c57.32,57.32,150.26,57.32,207.58,0c6.52-6.52,12.3-13.5,17.34-20.84C386.89,283.61,393.57,242.49,373.49,187.27z'/%3e%3cpath class='st2' d='M386.69,540.61c-0.8-6.2-1.54-12.41-2.23-18.62c18.49-9.2,29.24-20.19,29.24-31.99 c0-12.87-12.79-24.77-34.47-34.45c-2.96-67.75,2.08-131.75,19.62-178.63c11.56-30.89,17.25-62.16,17.25-91.95 c0-38.36-9.39-74.49-27.81-104.51c-18.62-30.35-46.37-54.33-82.89-67.99C283.91,4.43,259.52,0,232.35,0l0,0 c-27.18,0-51.57,4.43-73.07,12.48c-36.52,13.66-64.27,37.64-82.89,67.99c-18.42,30.02-27.81,66.15-27.81,104.51 c0,29.79,5.7,61.06,17.25,91.95c17.54,46.88,22.58,110.88,19.62,178.63c-21.68,9.68-34.47,21.58-34.47,34.45 c0,11.8,10.75,22.78,29.24,31.99c-0.69,6.22-1.44,12.43-2.23,18.62C62.48,661.41,28.41,775.36,0,810.42h31.23 c18.02-31.83,36.76-86.17,51.67-149.81c9.24,5.5,21.45,10.16,36.01,13.83l0.31,0.08v135.89h26.31V679.88 c25.12,4.11,54.92,6.49,86.81,6.49c31.89,0,61.7-2.38,86.81-6.49v130.54h26.31V674.53l0.31-0.08c14.56-3.67,26.77-8.33,36.01-13.83 c14.91,63.64,33.66,117.97,51.68,149.81h31.23C436.27,775.36,402.21,661.41,386.69,540.61z M98.79,94.13 c15.63-25.48,38.94-45.62,69.63-57.1c18.49-6.91,39.81-10.73,63.92-10.73l0,0c24.11,0,45.43,3.82,63.92,10.73 c30.69,11.48,54,31.62,69.63,57.1c10.02,16.32,16.93,34.9,20.65,54.85c-8.29-16.21-19.06-30.94-31.81-43.69 c-31.32-31.32-74.59-50.7-122.39-50.7c-47.8,0-91.07,19.37-122.39,50.7c-12.75,12.75-23.52,27.48-31.81,43.69 C81.87,129.03,88.77,110.46,98.79,94.13z M85.56,227.69c0-40.53,16.43-77.23,42.99-103.79c26.56-26.56,63.26-42.99,103.79-42.99 s77.23,16.43,103.79,42.99c26.56,26.56,42.99,63.26,42.99,103.79c0,40.53-16.43,77.23-42.99,103.79 c-26.56,26.56-63.26,42.99-103.79,42.99s-77.23-16.43-103.79-42.99C101.99,304.92,85.56,268.22,85.56,227.69z M369.51,601.13 c-6.95-2.92-14.91-5.51-23.73-7.73l-0.31-0.08v-57.41c4.79-1.24,9.38-2.56,13.76-3.95c0.47,3.99,0.96,7.97,1.47,11.94 C363.17,563.2,366.14,582.36,369.51,601.13z M119.23,647.38c-18.47-5-29.64-9.81-29.64-13.46c0-3.65,11.17-8.46,29.64-13.46V647.38z M119.23,593.32l-0.31,0.08c-8.82,2.22-16.77,4.81-23.73,7.73c3.37-18.76,6.34-37.93,8.82-57.23c0.51-3.98,1-7.96,1.47-11.94 c4.38,1.39,8.97,2.71,13.76,3.95V593.32z M319.16,653.24c-24.48,4.3-54.4,6.83-86.81,6.83c-32.41,0-62.34-2.53-86.81-6.83v-38.63 c24.48-4.3,54.4-6.83,86.81-6.83c32.41,0,62.34,2.52,86.81,6.83V653.24z M319.16,587.96c-25.12-4.1-54.93-6.49-86.81-6.49 c-31.89,0-61.7,2.38-86.81,6.49v-46.38c25.78,4.56,55.36,7.15,86.81,7.15c31.45,0,61.03-2.59,86.81-7.15V587.96z M232.35,431.27 c-46.19,0-88.33,5.59-120.35,14.8c1.05-33.93,0.08-66.91-3.44-97.4c0.46,0.47,0.92,0.94,1.39,1.41 c31.32,31.32,74.59,50.69,122.39,50.69c47.8,0,91.07-19.37,122.39-50.69c0.46-0.47,0.93-0.94,1.39-1.41 c-3.52,30.49-4.49,63.47-3.43,97.4C320.67,436.87,278.53,431.27,232.35,431.27z M345.46,647.38v-26.92 c18.47,5,29.64,9.82,29.64,13.46C375.11,637.57,363.93,642.38,345.46,647.38z'/%3e%3cpath class='st1' d='M393.53,463.07c-29.56-19.78-91.01-31.79-161.18-31.79c-70.18,0-131.62,12.01-161.19,31.79 c-38.64,25.86,67.99,57.72,157.9,57.17C318.96,519.69,432.17,488.92,393.53,463.07z'/%3e%3cpath class='st3' d='M232.35,431.27c-59.9,0-113.43,8.75-146.21,23.61c18.18,44.7,274.24,44.7,292.42,0 C345.77,440.03,292.24,431.27,232.35,431.27z'/%3e%3c/svg%3e ");
      }
      .logo__name {
        color: white;
        border-top: 2px solid #f5f8fa;
        border-bottom: 2px solid #f5f8fa;
      }
    }

    @media (max-width: 1000px) {
        width: auto;
        &__img {
            width: 28px;
            height: 44px;
        }

        &__name {
            width: 65px;
            font-size: 10px;
            letter-spacing: 1px;
        }

        &__tagline {
            font-size: 10px;
        }

        &--footer {
          .logo__img {
            width: 34px;
            height: 59px;
          }
          .logo__name {
            width: 86px;
            font-size: 13px;
            letter-spacing: 1.3px;

          }
          .logo__tagline {
            font-size: 12px;
          }
        }
    }
}
