.shoppingcart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 111px;
    margin-right: 60px;
    @media (max-width: 1000px) {
        margin-right: 0;
        width: auto;

        &__items {
            margin-left: 5px;
        }
        p {
          display: none;
        }
    }

    &--active {
      .shoppingcart__img {
        fill: #f54732;
      }
      .shoppingcart__items {
        color: #f54732;
      }
    }

    &__img {
        width: 18px;
        height: 17px;
        fill: #a1a8bd;
    }

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        background-color: #f6f6fa;
        color: #142558;
        font-family: 'Montserrat';
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
    }



}
