.head-banner {
  background-color: white;

  .container {
    display: flex;
    height: 236px;
    align-items: center;
    justify-content: space-between;
  }

  &__img {
    align-self: flex-end;
    margin-right: 84px;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  @media (max-width: 1000px) {
    &__img {
      margin-right: 10px;
    }
  }
  @media (max-width: 768px) {
    .container {
      height: 120px;
    }

    &__img {
      width: 123px;
      height: 101px;
    }
  }
}

.catalog {
  margin: 48px 0 97px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 13px -15px;
}

app-product-card-min {
  width: calc(100% / 12 * 3 - 30px);
  margin: 13px 15px;
  @media (max-width: 1000px) {
    width: calc(100% / 12 * 4 - 30px);
  }
  @media (max-width: 768px) {
    width: calc(100% - 30px);
  }
}

.search {
  width: 100%;
  margin: 0 15px;
  input {
    height: 40px;
    width: 300px;
    border: none;
  }
}
