<div class="container container--shoping-card">
  <div class="checkout">
    {{myDate | date:'shortDate'}}
    <h2>Оформление заказа</h2>
    <form action="" (ngSubmit)="Submit()" class="chekout-form">
      <h4>Адрес доставки</h4>
      <div class="chekout-form__item">
        <input type="text" required placeholder=" " name="city" [(ngModel)]="city"  class="input-main">
        <label class="chekout-form__label">Город, улица, номер дома*</label>
      </div>
      <div class="chekout-form__item chekout-form__item--min">
        <input type="text" placeholder=" " name="room" [(ngModel)]="room" class="input-main input-main--min">
        <label class="chekout-form__label">Кв/офис</label>
      </div>
      <div class="chekout-form__item chekout-form__item--min">
        <input type="text" placeholder=" " name="floor" [(ngModel)]="floor" class="input-main input-main--min">
        <label class="chekout-form__label">Этаж</label>
      </div>
      <div class="chekout-form__item chekout-form__item--min">
        <input type="text" placeholder=" " name="entrance" [(ngModel)]="entrance" class="input-main input-main--min">
        <label class="chekout-form__label">Подъезд</label>
      </div>
      <div class="chekout-form__item">
        <textarea type="text" placeholder=" " name="comment" [(ngModel)]="comment" class="input-main input-main--comment"></textarea>
        <label class="chekout-form__label">Комментарий к заказу</label>
      </div>
      <h4>Получатель</h4>
      <div class="chekout-form__item">
        <input type="text" required placeholder=" " name="name" [(ngModel)]="name" class="input-main">
        <label class="chekout-form__label">Имя*</label>
      </div>
      <div class="chekout-form__item">
        <input type="text" required placeholder=" " name="family" [(ngModel)]="family" class="input-main">
        <label class="chekout-form__label">Фамилия*</label>
      </div>
      <div class="chekout-form__item">
        <input type="text" required placeholder=" " name="email" [(ngModel)]="email" class="input-main">
        <label class="chekout-form__label">Электронная почта*</label>
      </div>
      <div class="chekout-form__item">
        <input type="text" required placeholder=" " name="phone" [(ngModel)]="phone" class="input-main">
        <label class="chekout-form__label">Номер телефона*</label>
      </div>
      <button type="submit" name="button" class="btn chekout-form__btn">Оформить заказ</button>
    </form>
  </div>
</div>
