<div class="container container--shoping-card">
  <div class="checkout">
    <h2>Оформление заказа</h2>
    <form class="chekout-form" [formGroup]="checkoutForm" novalidate
                              (ngSubmit)="submit()">
      <h4>Адрес доставки</h4>
      <div class="chekout-form__item">
        <input class="input-main" placeholder=" " name="city" formControlName="city">
        <label class="chekout-form__label">Город, улица, номер дома*</label>
      </div>
      <div class="chekout-form__item chekout-form__item--min">
        <input class="input-main input-main--min" placeholder=" " name="room" formControlName="room">
        <label class="chekout-form__label">Кв/офис</label>
      </div>
      <div class="chekout-form__item chekout-form__item--min">
        <input class="input-main input-main--min" placeholder=" " name="floor" formControlName="floor">
        <label class="chekout-form__label">Этаж</label>
      </div>
      <div class="chekout-form__item chekout-form__item--min">
        <input class="input-main input-main--min" placeholder=" " name="entrance" formControlName="entrance">
        <label class="chekout-form__label">Подъезд</label>
      </div>
      <div class="chekout-form__item">
        <textarea class="input-main input-main--comment" placeholder=" " name="comment" formControlName="comment"></textarea>
        <label class="chekout-form__label">Комментарий к заказу</label>
      </div>
      <h4>Получатель</h4>
      <div class="chekout-form__item">
        <input class="input-main" placeholder=" " name="name" formControlName="name">
        <label class="chekout-form__label">Имя*</label>
      </div>
      <div class="chekout-form__item">
        <input class="input-main" placeholder=" " name="family" formControlName="family">
        <label class="chekout-form__label">Фамилия*</label>
      </div>
      <div class="chekout-form__item">
        <input class="input-main" placeholder=" " name="email" formControlName="email">
        <label class="chekout-form__label">Электронная почта*</label>
      </div>
      <div class="chekout-form__item">
        <p-inputMask required="true" ariaLabel="Номер телефона*" name="phone" styleClass="input-main"
                    formControlName="phone" mask="+7 (999) 999-99-99" placeholder="+7"></p-inputMask>
        <label class="chekout-form__label">Номер телефона*</label>
      </div>
      <div class="form-group">
        <button [disabled]="checkoutForm.invalid" class="btn chekout-form__btn">Оформить заказ</button>
      </div>
    </form>
  </div>
</div>
