<div class="img-collapse">
  <div class="img-collapse__side">
    <button (click)="selectImgDown()">
      <svg
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         width="12px" height="8px">
        <path fill-rule="evenodd"  fill="rgb(130, 138, 162)"
         d="M7.028,0.251 L11.773,5.534 C12.075,5.871 12.075,6.416 11.773,6.752 C11.471,7.087 10.982,7.087 10.680,6.752 L6.481,2.077 L2.284,6.751 C1.982,7.087 1.492,7.087 1.190,6.751 C0.888,6.415 0.888,5.870 1.190,5.534 L5.936,0.251 C6.087,0.083 6.284,-0.000 6.481,-0.000 C6.679,-0.000 6.878,0.083 7.028,0.251 L7.028,0.251 Z"/>
      </svg>
    </button>
    <ng-container *ngFor="let img of images; let i = index; let last = last">
      <button class="img-collapse__button"
              [ngClass]= "{'img-collapse__button--active': i == selectedImgIndex}"
              (click)="selectImg(i)"
              *ngIf="i >= imgCollapseFirst && i < imgCollapseLast">
        <img src="{{img}}" class="img-collapse__min-img" alt="">
      </button>
    </ng-container>
    <button (click)="selectImgUp()">
      <svg
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         width="14px" height="9px">
        <path fill-rule="evenodd"  fill="rgb(130, 138, 162)"
         d="M6.386,8.710 L1.209,2.641 C0.880,2.254 0.880,1.628 1.209,1.243 C1.538,0.858 2.072,0.858 2.401,1.243 L6.982,6.613 L11.561,1.243 C11.890,0.858 12.425,0.858 12.753,1.243 C13.083,1.629 13.083,2.255 12.753,2.641 L7.577,8.710 C7.413,8.904 7.197,9.000 6.982,9.000 C6.766,9.000 6.549,8.904 6.386,8.710 L6.386,8.710 Z"/>
      </svg>
    </button>
  </div>
  <div class="img-collapse__select-img">
    <img src="{{selectedImg}}" class="img-collapse__img" alt="">
  </div>
</div>
