<nav class="nav">
  <input class="nav__check" type="checkbox" id="showmenu" />
  <ul class="menu {{classMod}}">
    <li><a class="menu__item" routerLink="/">Стулья и кресла</a></li>
    <li><a class="menu__item" routerLink="/beds">Кровати и матрасы</a></li>
    <li><a class="menu__item" routerLink="/cabinets">Шкафы и комоды</a></li>
    <li><a class="menu__item" routerLink="/kitchen">Мебель для кухни</a></li>
    <li><a class="menu__item" routerLink="/home">Товары для дома</a></li>
  </ul>
</nav>
