<div class="container">
  <div class="headline"><h2>Проверить статус заказа</h2></div>
  <div class="status-auth">
  <span class="status-auth__text">
    Введите номер Вашего заказа и электронный адрес, указанный при его оформлении.
  </span>
    <form action="">
      <input type="text" placeholder="Номер заказа" name="" value="" class="input-main">
      <input type="text" placeholder="Электронная почта" name="" value="" class="input-main">
      <a routerLink="order_number" class="btn">Проверить статус</a>
    </form>
  </div>
</div>
