<div class="container">
    <div class="headline">
        <h2>Проверить статус заказа</h2>
    </div>
    <div class="status">
        <div class="status-head">
          <div class="status__headline">
              Заказ ARU04889781
              <div class="status__date">
                  Дата заказа: {{date | date:'shortDate'}}
              </div>
          </div>
          <a routerLink="/order-status" class="status__exit">Проверить другой заказ</a>
        </div>
        <div class="current-state">
            <div class="progress-bar">
                <div class="progress-bar__circle progress-bar__circle--current">1</div>
                <div class="progress-bar__line"></div>
                <div class="progress-bar__circle">2</div>
                <div class="progress-bar__line"></div>
                <div class="progress-bar__circle">3</div>
            </div>
            <div class="status-name">
                <div class="status-name__confirm status-name__confirm--current">Подтверждение</div>
                <div class="status-name__ready">Готовится к отправке</div>
                <div class="status-name__sent">Отправлен</div>
            </div>
        </div>
        <div class="status-product">
            <div class="status-product__quantity">
                {{totalQuantity}} {{totalQuantityStr}}
            </div>
            <app-product *ngFor="let product of products"
                        [product]="product"></app-product>
        </div>
        <div class="status-adress">
            <div class="status__headline">
                Адрес доставки
            </div>
            {{orderService.order.city}}
            {{orderService.order.room}}
            {{orderService.order.floor}}
            {{orderService.order.entrance}}
            <br>
            Россия
        </div>
        <div class="recipient">
            <div class="status__headline">
                Получатель
            </div>
            {{orderService.order.name}}{{orderService.order.family}}
            {{orderService.order.email}}
            {{orderService.order.phone}}
        </div>

    </div>
</div>
